<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Booking</title>

		<!-- Page favicon -->
		<link
			rel="icon"
			href="https://cdn-icons-png.flaticon.com/512/7893/7893979.png"
		/>

		<!-- Scripts -->
		<script defer src="/scripts/script.js"></script>

		<!-- Link CSS -->
		<link rel="stylesheet" href="styles/styles.css" />
	</head>
	<body>
		<main>
			<div id="image-container">
				<h1>Book Your Dream Vacation</h1>
			</div>
			<form id="booking-form">
				<fieldset>
					<div id="destination-container">
						<div>
							<label for="destination">Destination</label>
							<span class="error" id="err-destination">*</span>
						</div>
						<select name="destination" id="destination">
							<option value="">Choose a destination...</option>
							<option value="bali-indonesia">Bali, Indonesia</option>
							<option value="paris-france">Paris, France</option>
							<option value="tokyo-japan">Tokyo, Japan</option>
							<option value="maldives">Maldives</option>
							<option value="nyc-usa">New York City, USA</option>
						</select>
					</div>

					<div id="dep-travel-container">
						<div>
							<div>
								<label for="d-date">Departure Date</label>
								<span class="error" id="err-departure">*</span>
							</div>
							<input type="date" name="d-date" id="d-date" />
						</div>
						<div>
							<div>
								<label for="travelers">Number of Travelers</label>
								<span class="error" id="err-travelers">*</span>
							</div>
							<input type="number" name="travelers" id="travelers" value="0" />
						</div>
					</div>
				</fieldset>

				<button type="submit" id="submit-button">Find My Vacation</button>
			</form>
		</main>
	</body>
</html>
